.root {
  height: 220px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin: 3px 0;
}

.image {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.dialogPaper {
  width: 600px;
}

.child:nth-of-type(1) {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #e0e0e0;
}

.child:nth-of-type(2) {
  flex: 0 0 35%;
  padding: 8px;
}

.child:nth-of-type(3) {
  flex: 0 0 25%;
  border-left: 1px solid #e0e0e0;
  padding: 8px;
}

.title {
  font-weight: 900;
}

.logos {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
}

.logoSeperator {
  margin: 0 5px;
  width: 2px;
  background-color: #e0e0e0;
}

.logo {
  max-width: 32px;
  max-height: 32px;
}

.close {
  width: 136px;
  height: 33px;
  border-radius: 4px;
  background-color: #f5f5f5;
  text-align: center;
  cursor: pointer;
  line-height: 33px;
  font: 14px sans-serif;
}
